:root {
  --font-size-initial: 12px;
  --font-size-lv2: 14px;
  --font-size-lv3: 16px;
  --font-size-lv4: 18px;
  --font-size-lv5: 20px;
  --spacing-site: 2rem; }

/*
* Whitespace Reset
*/
* {
  padding: 0;
  margin: 0; }

/*
* Box-sizing fix
*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

@-webkit-keyframes navitemin {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes navitemin {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes togglenavin {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes togglenavin {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

html {
  font: var(--font-size-initial, 12px)/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

@media screen and (min-width: 600px) {
  html {
    font-size: var(--font-size-lv2, 14px); } }

@media screen and (min-width: 800px) {
  html {
    font-size: var(--font-size-lv3, 16px); } }

@media screen and (min-width: 1200px) {
  html {
    font-size: var(--font-size-lv4, 18px); } }

@media screen and (min-width: 1600px) {
  html {
    font-size: var(--font-size-lv5, 20px); } }

/*@media screen and (min-width: 1601px){

    html {
        font-size: 24px;
    }
}*/
body, table, th, td, form, input, textarea, option, select {
  font: inherit; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  padding-bottom: 0.5em; }

h1 {
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.8em;
  font-weight: bold; }

p, ul, ol {
  padding-bottom: 1.5em; }

ul, ol {
  padding-left: 2em; }

li {
  list-style: inside none; }

.site {
  padding: var(--spacing-site, 2em); }

.site-content {
  max-width: 60rem;
  padding-top: 8rem;
  margin: 0 auto; }

body.login {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: flex; }

body.login .site {
  -webkit-box-flex: 1;
          flex: 1 0 auto;
  padding: 0;
  background: rgba(255, 204, 85, 0.2);
  border: 4rem solid #FFF;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between; }

body.login .toggle-main,
body.login .site-header {
  display: none; }

body.login .site-content {
  padding-top: 0; }

.navigation-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }

.navigation-main ul {
  padding: 0;
  margin: 0; }

.navigation-main li {
  display: block;
  list-style: none outside;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  background: #FFF;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  -webkit-animation: navitemin 0.3s ease-in-out forwards;
          animation: navitemin 0.3s ease-in-out forwards;
  opacity: 0; }

.navigation-main li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }

.navigation-main li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

.navigation-main li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }

.navigation-main li:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }

.navigation-main li a {
  text-decoration: none;
  color: #444; }

.navigation-main li i {
  margin-right: 0.5rem; }

#nav-toggle {
  display: none;
  pointer-events: none; }

.toggle-main {
  position: fixed;
  top: var(--spacing-site, 2rem);
  left: var(--spacing-site, 2rem);
  font-size: 2rem;
  padding: 0 0.5rem;
  z-index: 10;
  -webkit-animation: togglenavin 0.8s ease-in-out;
          animation: togglenavin 0.8s ease-in-out; }

#toggle-main-right {
  left: inherit;
  right: var(--spacing-site, 2rem); }

.toggle-main:before {
  content: '\f0c9'; }

.toggle-main span {
  display: none; }

#nav-toggle:checked + .site .site-header .navigation-main {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.8); }

#nav-toggle:checked + .site .toggle-main:before {
  content: '\f00d'; }

.site-branding {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0.5em;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #ffc805), to(rgba(255, 200, 5, 0)));
  background: linear-gradient(to bottom, #ffc805 80%, rgba(255, 200, 5, 0) 100%);
  /*background: rgba(255, 255, 255, 0.8);*/ }

.site-header .site-title {
  font-size: 2em;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #AAA;
  text-shadow: 0.15rem 0.15rem 0.1rem #999; }

.site-description {
  font-style: italic;
  font-family: serif; }

fieldset,
fieldset legend {
  border: 2px solid #FC5;
  border-radius: 0.3em; }

fieldset {
  background: #FFF;
  padding: 3.5vh 4.5vw 3vh 4.5vw; }

fieldset legend {
  display: inline-block;
  background: #FFF;
  padding: 0.3em 1em;
  font-weight: bold; }

input,
label {
  cursor: pointer; }

label {
  font-weight: bold;
  display: block; }

input[type='text'],
input[type='password'] {
  display: block;
  width: 20rem;
  border: 2px solid #FC5;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background: rgba(255, 204, 85, 0.2); }

input[type='text']:focus,
input[type='password']:focus {
  background: #FFF;
  outline: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

input.btn {
  padding: 0.5em 1em;
  border-radius: 0.3em;
  background-color: #FC5; }

input.btn:hover {
  background-color: rgba(255, 204, 85, 0.2);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

input.btn:active {
  background-color: #0D0;
  color: #FFF; }

.listing {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap; }

.listing li {
  display: block;
  list-style: none outside;
  -webkit-box-flex: 0;
          flex: 0 0 31%; }

.listing a {
  display: block;
  background: #FFF;
  border: 1px solid #ffc805;
  border-radius: 0.3rem;
  color: #333;
  text-decoration: none;
  box-shadow: 0.3rem 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.3);
  padding: 1rem 1.5rem;
  -webkit-transition: background-color 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: background-color 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: background-color 0.3s ease-in, transform 0.3s ease-in;
  transition: background-color 0.3s ease-in, transform 0.3s ease-in, -webkit-transform 0.3s ease-in; }

.listing a:hover {
  background: rgba(255, 200, 5, 0.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

.listing a span {
  display: block; }

.listing a .title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1.5rem; }
