<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ site.title }}</title>
        <script src="https://kit.fontawesome.com/413e6250f4.js"></script>
        <link rel="stylesheet" href="{{site.baseurl}}/css/site.css" type="text/css">
    </head>
    <body class="{% if page.type == 'post' %}post{% else %}{{ page.title | slugify }}{% endif %}">
    <input type="checkbox" class="nav-toggle" id="nav-toggle" name="nav-toggle">
    <div class="site">
            <label id="toggle-main-left" for="nav-toggle" class="fas toggle-main"><span>Menu</span></label>
            <label id="toggle-main-right" for="nav-toggle" class="fas toggle-main"><span>Menu</span></label>
            <header class="site-header">
                <div class="site-branding">
                    <p class="site-title">{{ site.title }}</p>
                    <p class="site-description">{{ site.description }}</p>
                </div>
                <nav class="navigation-main">
                    <ul>
                        <li><a href="{{site.baseurl}}/"><i class="far fa-newspaper"></i>Blog</a></li>
                        <li><a href="{{site.baseurl}}/about/"><i class="fas fa-user-secret"></i>About</a></li>
                        <li><a href="{{site.baseurl}}/contacts/"><i class="far fa-address-book"></i>Contacts</a></li>
                        <li><a href="{{site.baseurl}}/login/"><i class="fas fa-sign-in-alt"></i>Login</a></li>
                    </ul>
                </nav>
            </header>
            <main class="site-content">
                {{content}}
            </main>
            <footer class="site-footer">

            </footer>
        </div>
    </body>
</html>